h1 {
    text-align: center;
    display: block;
    margin-top: 50px;
    font-size: 50px;
}

h1 span:nth-child(1) {
    color: cornflowerblue;
}

h1 span:nth-child(2) {
    color: red;
}

h1 span:nth-child(3) {
    color: gold;
}

h1 span:nth-child(4) {
    color: cornflowerblue;
}

h1 span:nth-child(5) {
    color: chartreuse;
}

h1 span:nth-child(6) {
    color: red;
}


input {
    margin: 0 auto;
    margin-top: -20px;
    display: block;
    width: 390px;
    height: 30px;
    border-radius: 23px;
    text-align: center;
}

a {
    color: green;
}

.class-site {
    color: black;
    display: block;
    text-align: center;
    margin-top: 90px;
}

img {
    width: 450px;
    height: 320px;
    float: right;
    margin-top: -400px;
    margin-right: 530px;
    display: block;
}

.ju {
    display: block;
    text-align: right;
    margin-right: 690px;
    margin-top: -70px;
    color: blue;
}